/** CSS STYLE **/

.hello {
  display: block;
  position: relative;
  font-family: Open Sans, Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 1440px;
  color:#2A2626 ;
  line-height: 1.6em;
  overflow: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  color:rgb(42, 38, 38);
}
p {
  margin: 0;
}
h1,h2,h3 {
  margin: 0;
}
.content-width {
  width:1110px;
}
.header{
  background-color: #f5f4f0;
  position: relative;
}
header::before {
  content:" ";
 position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
img {
  display: block;
}
.header-content {
  position: relative;
  width:1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
h1 {
  font-family: Neucha, Arial, sans-serif;
  font-size: 72px;
  line-height: 1.2em;
  color:rgb(254, 138, 2);
  margin-bottom: 185px;
}
.header-content img {
  display: block;
  position: absolute;
  top:55px;
  right: -270px;
}
.title-lead span {
  color:rgb(42, 38, 38);
}
.content-paragraf-2 {
  margin-bottom: 40px;
}
.header-link {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 138, 2);
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-paragraf {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.content-center {
  margin:0 auto;
}
.video-section-title {
  font-family:Neucha, Arial, sans-serif;
  font-size: 73px;
  color:rgb(42, 38, 38);
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 27px;
}
.video-section-title span {

  color:rgb(254, 138, 2);
}
.video-position {
  position: relative;
  width:919px;
  height:517px;
}
.video-title {
  text-align: center;
margin-bottom: -70px;
}
.preview-video {
  position: absolute;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  top:100px;
}
.navigation {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 100px;
}
.background-cognitive-list {
  width:100%;
  background-color:rgb(66, 65, 60);
}
.cognitive-list-title {
  font-family:Neucha, Arial, sans-serif;
  font-size:52px;
  line-height: 120%;
  color:rgb(254, 138, 2);
}
.cognitive-list-title span {
  color:#fff;
}
.cognitiv-list-list {
  display: flex;
  column-gap:30px;
  row-gap: 20px;

  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cognitive-list-items {
max-width: 350px;
  min-height: 323px;
  padding:24px;
  box-sizing: border-box;
  background-color: white;
}
.cognitive-list-items:first-child{
  background-color: transparent;
}
/*убираем паддинг у заголовка в секции навигации*/
.no-padding {
  padding: 0;
}
.number-cognitive {
  font-size: 64px;
  font-family:Neucha, Arial, sans-serif;
  margin-bottom: 40px;
}
.cognitive-list-items-title {
  font-size: 34px;
  font-family:Neucha, Arial, sans-serif;
  color: rgb(254, 138, 2);
  margin-bottom: 16px;
  line-height: 120%;
}
.cognitive-list-items-description {
  line-height: 160%;
}
.lead-background {
  position: relative;
  background-color: #f5f4f0;
}

.lead-background::before {
  content:" ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.cards {
  margin:0 auto;
  padding-top:100px;
  padding-bottom: 100px;
}
.cards-title-img {
  display:flex;
  gap:30px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.content-color {
color:black;
}

.card-title p {
  font-family: Neucha, Arial, sans-serif;
  font-size: 24px;
}

.card-title h2 {
  font-family: Neucha, Arial, sans-serif;
  font-size: 60px;
  margin-bottom: 30px;
  line-height: 72px;
}
.card-title .card-title-description {
  font-size: 34px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 40.8px;
}
.img-div {
  position: relative;
  vertical-align: middle;
  z-index: 2;
}
.card-description-title {
  background-color: rgb(176, 154, 129);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.card-description-paragraf {
  display: flex;

  gap:30px;
  justify-content: space-between;
  line-height: 25.6px;
}
.card-title .card-title-color-paragraf {
  color:rgb(215, 204, 192);
}
.content-color-white{
  color: white;
}
.lead-background-2 {
  position: relative;
  background-color: rgb(176, 154, 129);
}
.lead-background-2::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.color-2 {
  background: rgb(255, 255, 255);
  color:rgb(176, 154, 129);
}
.cognitive-footer-div {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-forma {
  height: 190px;
  display: flex;
  background-color: rgb(66, 65, 60);
  align-items: center;
  justify-content: center;
  gap:122px;

}
.footer-paragraf-approval {
  font-family: Neucha, Arial, sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  color: white;
}
form {
  display: flex;
  flex-direction: column;

}
.form-label {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 18px;
  line-height: 160%;
  text-align: left;
  margin-bottom: 9px;
}
input[type="email"] {
  min-width: 423px;
  max-height: 50px;
  padding:15px;
  box-sizing: border-box;
  border: 1px solid rgb(227, 227, 227);
}
input::-webkit-input-placeholder {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 13px;
  line-height: 160%;
  text-align: left;
  opacity: 0.2;
}
.form-input-button {
  display: flex;
  gap:0;
}
input:-moz-placeholder {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 13px;
  line-height: 160%;
  text-align: left;
  opacity:0.2;
}
.form-button {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: rgb(254, 138, 2);
  border: none;
}
.form-button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../img/send.svg");
  background-repeat:no-repeat;
background-size: contain;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;

}
.form-podpis {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 160%;
}
.rulls-service {
  color: white;
  text-decoration: underline;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:16px;
  padding-top: 60px;
}
.contact-footer p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}
.contact-footer a {
  text-decoration: underline;
  color: rgb(0, 125, 193);
}
